@import url(fonts.css);
/*---------------------- CSS FOR CS MACBOOK LOG IN---------------*/

body{
    line-height: normal !important;
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

html,body { height: 100%; margin: 0px; padding: 0px; }
body{

	background-image: url("../images/vxbg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;


	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	background-size: cover;

}

body.quetvbody{
	margin:0px;
	padding:0px;

}

/*for bootstrap tables*/
.fixedlayout {table-layout: fixed;}


.ipadquefont{
	font-size: 31px;
    color: black;
    margin-top: 52px;
}
.background{
	width:1024px;
	height:768px;
	/*background-image: url("../images/sysimg/loginques/backgroundque.png");*/
	margin:auto; border-radius: 150px;

	}

.logo{
	width:320px; height:220px; /*position:absolute;*/
	/*background-image: url("../images/sysimg/loginques/logocopy1.png");*/
	/*margin-left:330px; */background-repeat:no-repeat;
  background-image: url("../images/vexconq_final.png");
  margin-right:13px;
  }

quesys{
	font-family:din_reg; font-size:34px; position:absolute;
	color:#FFF;margin-left:350px; margin-top:215px;
}

/*
 * ORIGINAL
 body.loginbody{
	background-image: url("../images/sysimg/loginques/b12.png");
	background-repeat:repeat;
}*/
.loginbody{
	height: 100% !important;
	/*background-image: url("../images/sysimg/loginques/b12.png");*/
	background-repeat:repeat;
	}

username{
	font-family:din_reg; font-size:20px; position:absolute;
	color:#FFF;margin-left:280px; margin-top:270px;
}

.userss{
	width:290px; height:30px; position:absolute;
	margin-left:410px; margin-top:270px;
	border-radius:6px; font-size:14px;
	}
pass{
	font-family:din_reg; font-size:20px; position:absolute;
	color:#FFF;margin-left:280px; margin-top:310px;
	}

	.password{
	width:290px; height:30px; position:absolute;
	margin-left:410px; margin-top:310px;
	border-radius:6px; font-size:14px;
	}

.log{
	width:420px; height:40px; position:absolute;
	margin-left:280px; margin-top:350px; border-radius:8px;
	background-color: #CCC;
	}
.tag{
	width:519px; height:34px; /*position:absolute;*/
	background-image: url(../images/sysimg/loginques/poweredby.png);
	/*margin-top:430px; margin-left:230px;*/
	}
/*---------------------- CSS FOR CS MACBOOK LOG IN---------------*/




/* -------------- IPAD AIR QUEUEING INTERFACE ------------*/
.ipadbody{
	width:1365px; height:1024px;
	margin:0px;
	background-color: #FFF;
	}
.bgpad{
	width:1365px; height:1024px;
	margin:0px;
	}
.headerpad{
	width:1365px; height:136px; position:absolute;
	background-image: url(../images/sysimg/ipadque/headerpad.png);
	}

/*--- mid css---*/
.mids{
	width:1365px; height:494px; position:absolute;
	margin-top:136px;
	background-image: url(../images/sysimg/ipadque/midpad2.png);
	}

salutation{
	font-family:din_bold; font-size:56px;
	margin-left:200px; margin-top:130px;
	position:absolute; color:#004D91;
	}
firstname{
	font-family:din_bold; font-size:56px;
	margin-left:200px; margin-top:220px;
	position:absolute; color:#004D91;
	}

lastname{
	font-family:din_bold; font-size:56px;
	margin-left:219px; margin-top:320px;
	position:absolute; color:#004D91;
	}

.fn{
	width:630px; height:60px; position:absolute;
	margin-left:550px; margin-top:240px;
	border-radius:10px; font-size:14px; text-align:center;
	font-family:din_reg; font-size:40px; text-transform:uppercase;
	}

	.ddownab{
		width: 630px; height:65px; position:absolute; text-align:center;
		margin-left:550px; margin-top:140px; font-family:din_reg; font-size:40px;
		}
.ln{
	width:630px; height:60px; position:absolute;
	margin-left:550px; margin-top:340px;
	border-radius:10px; text-align:center;
	font-family:din_reg; font-size:40px; text-transform:uppercase;
	}


	.message1s{
	width:1280px; height:100px; margin-left:42px; position:absolute;
 font-family:din_reg; font-size: 30px; font-weight:bold; margin-top:25px;
 text-align:center; color:#555;
	}

	.pleasepress{
	width:1280px; height:70px; margin-left:35px; margin-top:452px;
 font-family:din_reg; font-size: 25px; position:absolute;
 }

	/*--- mid css---*/




/*bottom css buttons */
.bots{
	width:1365px; height:394px; position:absolute;
	margin-top: 630px;
	background-color:#ffffff; /*#0A3D71;*/
	}
/*
.forep{
	width:572px; height:118px; position:absolute;
	background-image: url("../images/sysimg/ipadque/button/forrep_new_copy.png");
	margin-left:80px; margin-top:22px; content:""; border:none; background-color:transparent;
	}
.rel{
	width:572px; height:118px; position:absolute;
	background-image: url("../images/sysimg/ipadque/button/releasing_new.png");
	margin-left:700px; margin-top:22px; content:""; border:none; background-color:transparent;
	}

.app{
	width:572px; height:118px; position:absolute;
	background-image: url("../images/sysimg/ipadque/button/appointment_new.png");
	margin-left:80px; margin-top:150px; content:""; border:none;background-color:transparent;
}

.inq{
	width:572px; height:118px; position:absolute;
	background-image: url("../images/sysimg/ipadque/button/inquiry_new.png");
	margin-left:700px; margin-top:150px; content:""; border:none;background-color:transparent;
}
.cour{
	width:572px; height:118px; position:absolute;
	margin-left:80px; margin-top:278px; content:""; border:none;background-color:#06C;
}
*/


.forep{
	width:681px; height:197px; position:absolute; background-color:#0C9;
	background-image: url("../images/sysimg/png/repaircheckA.png");
	border:none; margin-top:3px;
	}
.rel{
	width:681px; height:197px; position:absolute; background-color:#06F;
	background-image: url("../images/sysimg/png/releasingA.png");
	margin-left:684px; border:none; margin-top:3px;
	}

.app{
	width:681px; height:197px; position:absolute;background-color:#3CC;
	background-image: url("../images/sysimg/png/appointmentA.png");
	margin-top:201px; border:none;
}

.inq{
	width:681px; height:125px; position:absolute;background-color:#69F;
	background-image: url("../images/sysimg/button/inqurybtn.png");
	margin-left:684px; margin-top:131px; border:none;
	}

.cour{
	width:681px; height:197px; position:absolute;
	background-color:#0CC;
	background-image: url("../images/sysimg/png/courtesyA.png");
	margin-top:201px; margin-left: 684px; border:none;
	}

/*bottom css buttons */

/* -------------- IPAD AIR QUEUEING INTERFACE ------------*/



/*---------------- CSS LOGIN TABLE ----------*/
/*.breaky{
	width:120px; height:27px;
	float:right; margin-top:21px;
	margin-right:480px; border-radius:10px;
	background-color:black;
	color:white; border-style:none;
	}

.breaky:hover{
	background-color:#C33;
	color:white;
}*/
.breaky2{
	width:120px; height:27px;
	float:right; margin-top:5px;
	margin-right:480px; border-radius:10px;
	background-color:black;
	color:white; border-style:none;
	}

.breaky2:hover{
	background-color:#C33;
	color:white;

}

.alert_login{
	  color: white;
  position: absolute;
  margin-left: 383px;
  margin-top: 403px;
	}

/*body.logintab*/
.logintab{
	position: fixed;
	top: 0;
	left: 0;
	/* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
	background-image: url(../images/sysimg/logintable/bgtabs.png);
	}

.workspace{
	width:1250px; height:580px;
	margin:auto;
	/*background-color: #999;*/
	}

.namess{
font-family:din_bold; font-size:14px;
width:130px; margin:auto;
	}


.pending{
	width:520px; height:450px; margin-left:20px;
	background-color: #FFF; border-style:solid;
	float:left; margin-top:5px; border-color:#039;
	}

	.servved{
	width:342px; height:450px;
	background-color:#FFF;  border-style:solid;
	float:left;margin-top:5px;border-color:#039;
	}

.skipped{
	width:346px; height:450px;
	background-color:#FFF;border-style:solid;
	float:left;margin-top:5px;border-color:#039;
	}


.green{
	width:18px; height:18px; position:absolute;
	 margin-top:15px; margin-left: 435px; background-image: url("../images/sysimg/logintable/gg.png");
	}

	.yellow{
	width:18px; height:18px; position:absolute;
	 margin-top:15px; margin-left: 435px; background-image: url(../images/sysimg/logintable/yy.png);
	}
/*------------------PENDING SECTION ---------*/
.titpends{
	width:514px; height:30px; position:absolute;
	background:#06C;
	}

	pendingn{
		font-family:din_reg; font-size:24px;
		color:#FFF; margin-left:4px;
		}
.pendnum{
	width:60px; height:20px; position: absolute; font-family:din_bold; font-size:16px; text-align:center;
	margin-left: 450px; margin-top: 4px; background-color:#FFF;
	}

.pendarea{
	width:514px; height:392px; position:absolute;
	/*background-color:#999;*/ margin-top:30px;
	overflow-y: scroll;
	}
.pendform{
	width:499px; height:24px;
	/*background-color: #09F; position:absolute;*/
	}
.nums{
	width:25px; height:22px; float:left; text-align:center;
	/*background-color:#FFF;*/font-family:din_reg; font-size:14px;
	margin-left:2px;
	}
.names{
	width:210px; height:22px; float:left; text-align:center;
	/*background-color:#FFF;*/font-family:din_bold; font-size:14px;

	}

.status{
	width:100px; height:22px; float:left; text-align:center;
	/*background-color: #FFF;*/font-family:din_reg; font-size:14px;

	}

	.serveby{ /*---- blue color ------*/
	/*width:157px; height:22px; float:left; text-align:center;position:absolute; margin-left: 371px;*/
	/*background-color: #FFF;*/font-family:din_bold; font-size:14px;
	 color:#03C;
	}

	.prepareflag{
	width:157px; height:22px; float:left; text-align:center;position:absolute; margin-left: 350px;
	background-color: #FFF;font-family:din_bold; font-size:14px;
	 color: #060;
	}

	.servebyuser{
	/*width:157px; height:22px; float:left; text-align:center;position:absolute; margin-left: 371px;
	background-color: #FFF;*/font-family:din_bold; font-size:14px;
	 color: #060;
	} /*----- green ---- */
	.servebyuser_done{
	/*width:157px; height:22px; float:left; text-align:center;position:absolute; margin-left: 371px;
	background-color: #FFF;*/font-family:din_bold; font-size:14px;
	 color: #0ECEAB;
	} /*----- green ---- */
	.serveby1{
	width:157px; height:22px; float:left; text-align:center;
	background-color: #FFF;font-family:din_bold; font-size:14px;
	 color: #060;
	} /*----- green ---- */

.radios{
	/*width:514px; height:22px; position:absolute; */font-family:din_reg;
	/*margin-top:422px;*/ margin:-6px -6px 15px -15px; background-color: #CCC; text-align: center;
	}


/*----------- SERVED SECTION ---------*/

.titserve{
	width:336px; height:30px; position:absolute;
	background:#06C;
	}

	serven{
		font-family:din_reg; font-size:24px;
		color:#FFF;	margin-left:4px;
		}
.servenum{
	width:60px; height:20px; position: absolute; font-family:din_bold; font-size:16px; text-align:center;
	margin-left: 270px; margin-top: 4px; background-color:#FFF;
	}


.servearea{
	width:336px; height:413px; position:absolute;
	 margin-top:30px;
	overflow-y: scroll;
	}

.sernums{
	width:25px; height:15px; position:absolute; text-align:center;
	font-family:din_bold; font-size:10px;
	margin-left:2px;
	}
.sernames{
	width:150px; height:15px; position:absolute;
	font-family:din_bold; font-size:8.5px; text-align:center;
	margin-left:30px;
	}
.serstatus{
	width:85px; height:15px; position:absolute; font-weight:bold;
	font-family:din_bold; font-size:10px;
	margin-left:182px;
	}

.sercs{
	width:51px; height:15px; /*position:absolute;*/ font-weight:bold;
	font-family:din_bold;font-size:10px;
	margin-left:270px;
	}
/*----------- SKIPPED SECTION ---------*/

.titskip{
	width:340px; height:30px; position:absolute;
	background:#06C;
	}

	skipn{
		font-family:din_reg; font-size:24px;
		color:#FFF;	margin-left:4px;
		}
.skipnum{
	width:60px; height:20px; position: absolute; font-family:din_bold; font-size:16px; text-align:center;
	margin-left: 270px; margin-top: 4px; background-color:#FFF;
	}
.status11{
	width:100px; height:22px; /*position:absolute;*/ text-align:center;
	/*background-color: #FFF;*/font-family:din_reg; font-size:14px;
	margin-left:242px;
	}

/*------------- COUNTER NUMBER AND LOGOUT-----*/
@media (min-width: 768px){
	.counternum{
		float: right;
	}
	.statuscounter{
		float:right;
	}
}
.countnum{
	float:right;
	width:60px;
	/*border-radius: 50%;
	width: 60px;  position:absolute; */text-align:center; font-size:38px; font-family:din_bold;
	background:#333333; /*background:#1a66ff; border-color:#3377ff; border-style:solid;margin-top:470px; margin-left:20px;*/
	}

.counternum{
    margin-right: 3px;
   color:#06C;
	/*width:250px; height:35px; position:absolute;*/
	font-family:din_bold; font-size:10px;
	/*margin-top:470px; margin-left:90px;*/
	/*background-color:#03C;*/
	}
.statuscounter{
	font-family:bigjohn; font-size:18px;
	/*width:250px; height:35px; position:absolute;*/
	/*font-family:din_bold; font-size:23px;*/
	/*margin-top:500px; margin-left:90px;*/
	/*background-color:#03C;*/ color:#ffffff;
	}

.editcounter{
	width:150px; height:25px; font-size:12px; background-color:#06F;
	float:right;  margin-right:10px; color:#FFF; /*margin-top:-25px;*/
	 margin-top:22px;
	}
.logsout{
	width:150px; height:30px; font-size:15px;
	float:right; margin-right:24px;margin-top:20px;
	font-weight:bold;
	}

.backtabes{
	width:120px; height:30px;content:""; border:none; background:none;
	 margin-left:1110px; margin-top:7px; background-image: url(../images/sysimg/admin/goback.png);
	}




/*-------- for button1 -----*/
.heads{
	width:1050px; height:60px; margin:auto;
	background-color: #039; border-bottom-left-radius:15px; border-bottom-right-radius:15px;

	}
.buts1{
	width:420px; height:55px; /*position:absolute;*/
	margin-top:5px; float:right;/*margin-left:620px;*/
	}

.jump{
	width:186px; height:52px; position:absolute;
	margin-left:43px; content:"";
	background-image: url(../images/sysimg/logintable/button1/jump.png);
	/*cursor:pointer;*/
	}

.jump:hover{
	background-image: url(../images/sysimg/logintable/button1/jump1.png) ;
	cursor: pointer;
	}


.next{
	width:186px; height:52px; position:absolute;
	margin-left:230px;content:"";
	background-image: url(../images/sysimg/logintable/button1/NEXT.png);
	}

.next:hover{
	background-image: url(../images/sysimg/logintable/button1/NEXT1.png) ;
	cursor: pointer;
	}

.done{
	width:186px; height:52px; position:absolute;
	margin-left:230px;content:"";
	background-image: url(../images/sysimg/logintable/button1/DONE.png);
	}

.done:hover{
		background-image: url(../images/sysimg/logintable/button1/DONE1.png) ;
		cursor: pointer;
	}

nowserve{
	font-family:din_reg; font-size:24px; color: #039;/*#FFF;*/
	margin-left:5px; margin-top:10px; position:absolute;
	}
.servename{
	margin-top:10px;
	/*width:250px; height:25px; position:absolute; font-size:15px; text-align:center;
	 margin-left:175px; resize:none;*/

	}

/*-------- for button1 -----*/

/*-------- for button2 -----*/
.buts2{
	width:590px; height:55px; position:absolute;
	margin-top:5px; margin-left:450px;
	}

.SERVE{
	width:186px; height:52px; position:absolute;
	margin-left:215px; content:""; cursor:pointer;
	background-image: url(../images/sysimg/logintable/button2/SERVE.png);
	}

.SERVE:hover{
	background-image:url(../images/sysimg/logintable/button2/SERVE1.png) ;
}

.SKIP{
width:186px; height:52px; position:absolute;
	margin-left:400px;content:"";cursor:pointer;
	background-image: url(../images/sysimg/logintable/button2/SKIP.png);
	}

.SKIP:hover{
	background-image:url(../images/sysimg/logintable/button2/SKIP1.png) ;
}
.CALL{
	width:186px; height:52px; position:absolute;
	margin-left:30px;content:"";cursor:pointer;
	background-image: url(../images/sysimg/logintable/button2/CALL.png);
	}


.CALL{
	background-image:url(../images/sysimg/logintable/button2/CALL1.png) ;
	}
/*-------- for button2 -----*/





/*---------------------------------------ADMIN SECTION --------------------*/

/*------ for admin panel ----*/

.admins{
	width:360px; height:460px; float:left;
	border-radius:20px; margin-left:20px;
	}

.adminhead{
	width:360px; height:40px; position:absolute; text-align: center;
	background-image: url(../images/sysimg/admin/hd.png);font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:24px; color: #06C;
	border-bottom-left-radius:10px; border-bottom-right-radius:10px;
	}

.firstlast{

	width:350px; height:90px; position:absolute; margin-top:50px; margin-left:5px;
	background-color:#E6E6E6; border-radius:10px;
	}
firstn{
	font-family:Arial, Helvetica, sans-serif; position:absolute;
	margin-top:20px; margin-left:10px;font-size:14px;
	}
.ff{
	width:220px; height:25px; text-align:center; font-size:15px;
	margin-top:17px; margin-left:110px; position:absolute;
	}

lastn{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; position:absolute;
	margin-top:50px; margin-left:15px;
	}
.nn{
	width:220px; height:25px; text-align:center;font-size:15px;
	margin-top:50px; margin-left:110px; position:absolute;
	}


/*------ user and pass form -----*/

.userpass{

	width:350px; height:150px; position:absolute; margin-top:145px; margin-left:5px;
	background-color:#E6E6E6; border-radius:10px;
	}
usern{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; position:absolute;
	margin-top:20px; margin-left:10px;
	}
.uu{
	width:220px; height:25px; text-align:center; font-size:15px;
	margin-top:17px; margin-left:110px; position:absolute;
	}

passn{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; position:absolute;
	margin-top:51px; margin-left:12px;
	}
.pp{
	width:220px; height:25px; text-align:center;font-size:15px;
	margin-top:50px; margin-left:110px; position:absolute;
	}

acc{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; position:absolute;
	margin-top:85px; margin-left:12px;
	}

.acctype{
	margin-top:84px; margin-left:130px;
	width:200px; height:18px; position:absolute;
	}


.save{
	width:130px; height:25px; position:absolute;
	margin-top:110px; margin-left:200px;border-radius: 10px;
	background-color: #06C; color:#FFF;
	}

powered{
	font-family:din_reg; font-size:10px; font-weight:bold; /*position:absolute:*/
	margin-top:95px; margin-left:35px; color:#06C;
	}

.logs{
	width: 24px; height:24px; /*position:absolute;*/
	background-image: url(../images/sysimg/admin/elogs.png);
	margin-top:-18px; /*margin-left:8px;*/
	}

.adminqueb{
	    position: fixed;
		padding-top: 20px;
		min-width: 100%;
    	min-height: 100%;
		background-color: #CCC;
	}


	/*------------------- IP PANEL ---------------- */


	.ippane{
		width:350px; height:120px; position:absolute;margin-left:5px;
	background-color:#E6E6E6; border-radius:10px; margin-top:300px;
		}
	ipaddress{
		font-family:Arial, Helvetica, sans-serif; position:absolute;
	margin-top:20px; margin-left:10px;font-size:14px;
		}

	.ipad{
			width:220px; height:25px; text-align:center; font-size:15px;
	margin-top:17px; margin-left:110px; position:absolute;
			}

	named{
		font-family:Arial, Helvetica, sans-serif; font-size:14px; position:absolute;
	margin-top:50px; margin-left:9px;
		}

	.nems{
	width:220px; height:25px; text-align:center;font-size:15px;
	margin-top:50px; margin-left:110px; position:absolute;
	}

	.saveds{
		width:130px; height:25px; position:absolute;
	margin-top:80px; margin-left:200px; border-radius: 10px;
	background-color: #06C; color:#FFF;
		}

	.back_to_menus{
		width:120px; height:30px; position:absolute;content:""; border:none; background: none;
		margin-top:130px; margin-left:120px; background-image: url(../images/sysimg/admin/goback.png);
		}




	/*---------------------------------------ADMIN SECTION --------------------*/


	.listusers-cont{
		width:750px; height:420px; margin-left:10px;
		/*background-color:#0F6;*/ float:left;
		}

	.listofusers-h{
		width:750px; height:40px; position:absolute; text-align: center;
		background-image: url(../images/sysimg/admin/hd.png);font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size:24px; color: #06C;
		border-bottom-left-radius:10px; border-bottom-right-radius:10px;
		}

		.list-cont{
			width:750px; height:370px; position:absolute; margin-top:49px;
			background-color:#E6E6E6; border-radius:10px; overflow-y:scroll; overflow-x:hidden;
		}

		.user-contain{
			width:750px; height: 60px; border-radius:10px;
			background-color:#eee; margin-bottom:3px;
		}

		.name-h{
				height:18px; font-size:15px; margin-top:8px; margin-left:5px;
				font-family: helvetica; float:left;
			}

		.name-f{
				width:250px; height:12px; font-size:12px;margin-top:10px;
				float:left; font-family: helvetica; margin-left:8px;
				/*background-color:#DDD;*/
			}
		.acctype-f{
				width:150px; height:12px; font-size:12px;margin-top:10px;
				float:left; font-family: helvetica; margin-left:5px;
				/*background-color:#DDD;*/
			}

		.activated-h{
				height:18px; font-size:15px; margin-top:30px; margin-left:50px;
				font-family: helvetica; position:absolute;
		}

		.activated-f{
				width:14px; heigth:14px; font-family:helvetica; font-weight:bold;
				float:left;font-size:16px; margin-top:8px; margin-left:4px; color:green;
		}



		.demotebtn{
			width:150px; height:25px; border-style:solid; color:#FFF;
			border-radius:5px; background-color:#06C; border-width:thin;
			outline-style:none;float:left; margin-left:5px;
			}
			.demotebtn:hover{
				background-color:#09F;
					cursor:pointer;
				}

				.list-btn-cont{
					width:480px;
					float:right;

					}
/*--------------- FOR POP UP QUE -----------------------*/

.popupqs{
	width:300px; height:150px;
	/*background-color: #E6E6E6;*/
	}

.counternumbs{
	width:145px; height:18px; position:absolute; font-family:din_reg;
	font-size:14px;  margin-left:20px; margin-top:20px;
	}

.ddownnum{
	 margin-left:160px; margin-top:20px; position:absolute;
	}
.accepting{
	width:145px; height:18px; position:absolute;  font-family:din_reg;
	font-size:14px;  margin-left:70px; margin-top:45px;
	}

.accepts{
	margin-left:160px; margin-top:45px;position:absolute;
	}

.savepop{
	width:80px; height:35px; position:absolute;
	 margin-top:90px; margin-left:110px;
	}

.cancelpop{
	width:80px; height:35px; position:absolute;
	margin-left:190px; margin-top:90px;
	}







/*----------------------- JUMP POP UP SECTION ----------- */
.popupjumps{
    /*opacity:0;
	width:300px;*/ height:150px;
	background-color: #E6E6E6;
	}

.okpop{
		width:80px; height:35px; position:absolute;
	 margin-top:90px; margin-left:110px;
	}

	.cancelpops{
	width:80px; height:35px; position:absolute;
	margin-left:190px; margin-top:90px;
	}
.number{
	width:150px; height:50px; position:absolute; font-family:din_bold;
	font-size:17px; margin-left:20px; margin-top:28px;
}

.numbsf{
	width:150px; height:40px; position:absolute; text-align:center;
	border-style:solid; font-family:din_bold; font-size:36px;
	margin-top:31px; margin-left:200px;

	}







/*---------------- IPAD RELEASING POP UP ---------*/
.popup{
	width:300px; height:300px;
	background-color: #CCC;
	}

.popupar{
	width:512px; height:200px;
	background-color: #CCC;
	}
.ar{
	width:350px; height:50px; position:absolute; font-family:din_bold;
	font-size:40px;margin-top:8px; margin-left:60px;
}
.arf{
	width:420px;text-transform:uppercase; position:absolute;
	text-align:center; font-size:42px;
	margin-top:120px; margin-left:40px;
	}


.okpad{
		width:80px; height:50px; position:absolute;
	 margin-top:200px; margin-left:20px; border-radius:5px;
	}

.cancelpad{
	width:120px; height:50px; position:absolute;
	margin-left:380px; margin-top:200px; border-radius:5px;
	}



/*-------------------------- BACK ROOM QUE -----------*/
.backws{
	width:1024px; height:580px; border-style:solid; border-color:#06C;
	margin-left:120px; background-color: #E6E6E6;
}

.titleback{
	width: 1024px; height:40px; position:absolute; text-align:center;
	background-color:#06C; font-family:din_bold; font-size:30px; color:#FFF;
	}

	.logback{
		width:100px; height:40px; content:""; border-radius: 10px;
		margin-left:10px; margin-top: 5px; font-family:din_bold; font-size:15px;float:left;
		}

.arbox{
	width:512px; height:533px; position:absolute;
	background-color: #FFF; margin-top:40px;
	}
.releasebox{
	width:510px; height:25px; position:absolute; text-align:center;
	background-color:#039; color:#FFF; font-family:din_bold; font-size:20px;
	}

.ars{
	width:94px; height:30px; position:absolute;
	/*background-color:#09C;*/ margin-top:25px;
	}

.arno{
	width: 94px; height:30px; position:absolute; color:#FFF;
	background-color: #666; text-align:center; font-family:din_bold; font-size:17px;
	}

/*.arfsrel{
	width:94px; height:482px; position:absolute;
	background-color:#0C9; margin-top:30px; overflow-y: scroll;
	}*/
.arfsno{
	width:93px; height:30px; position:absolute; text-align:center; color:#06F;
	/*background-color: #996;*/ font-family:din_reg; font-size:17px;
	}



.arfsrelprep{
	width:94px; height:482px; position:absolute;
	background-color:#0C9; margin-top:30px; overflow-y: scroll;
	}
.arfsnoprep{
	width:93px; height:30px; position:absolute; text-align:center; color:#06F;
	/*background-color: #996;*/font-family:din_reg; font-size:17px; border-right:thick; border-right-style:solid; border-right-color:#FFF;
	}








.nfc{
	width:510px; height:515px; position:absolute;
	/*background-color:#099;*/ margin-top:25px;
	}

.nfcprep{
	width:510px; height:515px; position:absolute;
	/*background-color:#099;*/ margin-top:25px;
	}

.nameofc{
	width:414px; height:30px; position:absolute; font-family:din_bold; font-size:20px;
	background-color: #666; text-align:center; color:#FFF; margin-left:96px;
	}

.nfcform{
	width:510px; height:482px; position:absolute;
	margin-top:30px; /*background-color:#63C;*/  overflow-y: scroll;
	}

	.nfcformprep{
	width:511px; height:482px; position:absolute;
	margin-top:30px; /*background-color:#63C;*/  overflow-y: scroll;
	}


.nfcl{
	width: 510px; height:30px;
	/*background-color: #C99;*/
	}

.nameclient{
	width: 300px; height:29px; position:absolute; margin-left:97px;
	/*background-color: #C9F;*/ font-family:din_reg; font-size:20px;
	}

.prepared{
	/*height: 20px; */ width:100px;/* position: absolute; */font-size:15px; border-radius:6px;
	background-color: #06F; text-align:center; font-family:din_reg; color:#FFF;
	/*margin-left:400px;*/ margin-top:3px; text-decoration:none; content:"";
	}







/*---------- prepared section -------------*/

.prepsi{
	width: 512px; height: 510px; position:absolute;
	/*background-color: #39C;*/ margin-top:25px;
	}



.prepbox{
	width:512px; height:540px; position:absolute;
	margin-left:512px; margin-top:40px;
	}

.preparedbox{
	width:512px; height:25px; position:absolute; text-align:center;
	background-color: #039; color:#FFF; font-family:din_bold; font-size:20px;
	}

	.prepno{
		width: 94px; height:30px; position:absolute; color:#FFF;
	background-color: #666; text-align:center; font-family:din_bold; font-size:18px;
		}

	.prepofc{
		width:416px; height:30px; position:absolute; font-family:din_bold; font-size:18px;
	background-color: #666; text-align:center; color:#FFF; margin-left:95px;
		}

	.nfclprep{
		width: 510px; height:30px;
			/*background-color: #C99; */text-align:center;
		}

	.nameclientprep{
		width: 415px; height:29px; position:absolute; margin-left:96px;
	/*background-color: #C9F; */font-family:din_reg; font-size:20px
		}

		.tags{
			width:519px; height:34px; position:absolute;
	background-image: url(../images/sysimg/loginques/poweredby.png);
	margin-top:582px; margin-left:380px;
			}

	.logos{
		width:80px; height:80px; position:absolute;
		margin-top:60px; margin-left:20px;
	background-image: url(../images/sysimg/logot.png);

		}

.brw{
	width:1150px; height:620px;

	}

	.backs{
	width:120px; height:30px;content:""; border:none; background:none; margin-top:550px;
	background-image: url(../images/sysimg/admin/goback.png); position:absolute;
	}





/*---------------------- queing TV ---------------------------*/


.flashname1{
	width:230px; height:40px; position:absolute;
	margin-top:20px; margin-left:105px; border-radius:10px; color:#000;
	font-family:din_bold; font-size:25px; text-align:center; padding-top:5px;
	background-image: url(../images/sysimg/quetv/colorbg/graylight.png);
	box-shadow:2px 2px 15px #003399;
	}

.flashname2{
	width:230px; height:40px; background-color:#9CC; position:absolute;
	margin-top:20px; margin-left:360px; border-radius:10px; color:#000;
	font-family:din_bold; font-size:25px; text-align:center; padding-top:5px;
	background-image: url(../images/sysimg/quetv/colorbg/graylight.png);
	box-shadow:2px 2px 15px #003399;
	}

.flashname3{
	width:230px; height:40px; background-color:#9CC; position:absolute;
	margin-top:20px; margin-left:605px; border-radius:10px; color:#000;
	font-family:din_bold; font-size:25px; text-align:center; padding-top:5px;
	background-image: url(../images/sysimg/quetv/colorbg/graylight.png);
	box-shadow:2px 2px 15px #003399;
	}

.flashname4{
	width:230px; height:40px; background-color:#9CC; position:absolute;
	margin-top:20px; margin-left:858px; border-radius:10px; color:#000;
	font-family:din_bold; font-size:25px; text-align:center; padding-top:5px;
	background-image: url(../images/sysimg/quetv/colorbg/graylight.png);
	box-shadow:2px 2px 15px #003399;
	}

.flashname5{
	width:230px; height:40px; background-color:#9CC; position:absolute;
	margin-top:20px; margin-left:1110px; border-radius:10px; color:#000;
	font-family:din_bold; font-size:25px; text-align:center; padding-top:5px;
	background-image: url(../images/sysimg/quetv/colorbg/graylight.png);
	box-shadow:2px 2px 15px #003399;
	}

.bgtv{
	width:1920px; height:1080px;
	/*background-color:#CCC;*/
	}

.floor{
	width:1520px; height:1080px; position:absolute;

	}

.table_img{

	width:1520px; height:1080px; position:absolute; background-repeat:no-repeat;
	background-image: url(../images/sysimg/quetv/newNESv2.png);
	}

/*--------- for numbers ------------*/
.nositters{
	width: 1172px;
    height: 170px;
    position: absolute;
    margin-top: 90px;
    margin-left: 145px;
	}




/*--------------------------for chairs div --------*/
.sitters{
	width:1080px; height:96px; position:absolute;
	/*background-color:#06C;*/ margin-top:170px; margin-left:90px;
	}

.sit1{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat;
	background-image: url(../images/sysimg/quetv/sit.png);
	}

.sit2{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-left:160px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}

.sit3{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-left:310px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}

.sit4{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-left:470px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}
.sit5{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-left:625px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}

.sit6{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-left:780px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}

.sit7{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-left:940px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}

/*------ sitters 2 ---------*/

.sitters2{
	width:96px; height:550px; position:absolute;
	/*background-color:#069;*/ margin-top: 270px; margin-left:1170px;
	}

.sit8{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat;
	background-image: url(../images/sysimg/quetv/sit.png);
	}


.sit9{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-top:160px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}

.sit10{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-top:310px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}

.sit11{
	width:95px; height:95px; position:absolute;
	background-repeat:no-repeat; margin-top:470px;
	background-image: url(../images/sysimg/quetv/sit.png);
	}





	/*------------ */

.pmclogo{
	width: 400px;
  height: 70px;
  margin-top: 726px;
  margin-left: 1518px;
  background-color: #06C;
  position: absolute;
  background-image: url(../images/sysimg/baners.png);
	}
.nextnumsf{
	width: 400px;
  height: 280px;
  position: absolute;
  margin-top: 800px;
  margin-left: 1518px;
  background-image: url(../images/sysimg/quetv/nxtnem.png);
	}

img.nextnumsfirst{
	  width: 338px;
  height: 174px;
  position: absolute;
  /* background-image: url(../images/sysimg/quetv/engref.png); */
  margin-left: 28px;
  text-align: center;
  font-size: 80px;
  margin-top: 51px;
  color: #FFF;
  font-family: din_reg;
  src: url(../images/sysimg/quetv/engref.png);
	}



.servingname{
	width:452px; height:115px; position:absolute;
	background-color: #CCC; margin-left:1468px; color:#000;
	font-family:din_bold; font-size:72px; text-align: center;
	}

.servednames{
	width:1280px; height:80px; position:absolute;
	margin-left:83px; color:#000; margin-top:245px;
	}


/*--------------------- serving names ----------*/
.s1{
	width:453px; height:22px; position:absolute;
	margin-top: 6px; background-color:#36C;
	}

	.s1num{
		width:20px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		background-color:#0CC;
		}
		.sit1name{
		    width: 140px;
			height: 90px;
			position: absolute;
			color: #FFF;
			border-radius: 106px;
			font-family: din_bold;
			font-size: 27px;
			px: ;
			text-align: center;
			padding-top: 30px;
			background-image: url(../images/sysimg/quetv/colorbg/blue1.png);
			margin-top: 185px;
			margin-left: 210px;
		}

		.sit2name{
			width: 140px;
			height: 90px;
			position: absolute;
			color: #FFF;
			border-radius: 106px;
			font-family: din_bold;
			font-size: 27px;
			px: ;
			text-align: center;
			padding-top: 30px;
			background-image: url(../images/sysimg/quetv/colorbg/blue1.png);
			margin-top: 185px; 
			margin-left: 514px;
		}

		.sit3name{
			width: 140px;
			height: 90px;
			position: absolute;
			color: #FFF;
			border-radius: 106px;
			font-family: din_bold;
			font-size: 27px;
			px: ;
			text-align: center;
			padding-top: 30px;
			background-image: url(../images/sysimg/quetv/colorbg/blue1.png);
			margin-top: 185px; 
			margin-left: 805px;
		}

		.sit4name{
			width: 140px;
			height: 90px;
			position: absolute;
			color: #FFF;
			border-radius: 106px;
			font-family: din_bold;
			font-size: 27px;
			px: ;
			text-align: center;
			padding-top: 30px;
			background-image: url(../images/sysimg/quetv/colorbg/blue1.png);
			margin-top: 185px;
			margin-left: 1100px;
		}

		.sit5name{
			width: 140px;
			height: 90px;
			position: absolute;
			color: #FFF;
			border-radius: 106px;
			font-family: din_bold;
			font-size: 27px;
			px: ;
			text-align: center;
			padding-top: 30px;
			background-image: url(../images/sysimg/quetv/colorbg/blue1.png);
			margin-top: 185px;
			margin-left: 1173px;
		}

	/*	.sit5name{
		width:200px; height:50px; position:absolute; color: #FFF; border-radius:10px;
		font-family:din_bold; font-size:18px; text-align:center;padding-top:10px; margin-left:8px;
		background-image: url(../images/sysimg/quetv/colorbg/blue1.png);
		margin-top:250px; margin-left:1120px;
		}
		*/


		.s1stat{
		width:145px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}

.s2{
	width:453px; height:22px; position:absolute;

	}

	.s2num{
		width:20px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s2name{
		width:275px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s2stat{
		width:145px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}

.s3{
	width:453px; height:22px; position:absolute;

	}

	.s3num{
		width:20px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s3name{
		width:275px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s3stat{
		width:145px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}


		.s4{
	width:453px; height:22px; position:absolute;

	}

	.s4num{
		width:20px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s4name{
		width:275px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s4stat{
		width:145px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}


	.s5{
	width:453px; height:22px; position:absolute;

	}

	.s5num{
		width:20px; height:22px; position:absolute;  color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s5name{
		width:275px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s5stat{
		width:145px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}



		.s6{
	width:453px; height:22px; position:absolute;

	}

	.s6num{
		width:20px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s6name{
		width:275px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s6stat{
		width:145px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}


	.s7{
	width:453px; height:22px; position:absolute;

	}

	.s7num{
		width:20px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s7name{
		width:275px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s7stat{
		width:145px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}


		.s8{
	width:453px; height:22px; position:absolute;

	}

	.s8num{
		width:20px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s8name{
		width:275px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s8stat{
		width:145px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}


		.s9{
	width:453px; height:22px; position:absolute;

	}

	.s9num{
		width:20px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s9name{
		width:275px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s9stat{
		width:145px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}


		.s10{
	width:453px; height:22px; position:absolute;

	}

	.s10num{
		width:20px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s10name{
		width:275px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s10stat{
		width:145px; height:22px; position:absolute;color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}


		.s11{
	width:453px; height:22px; position:absolute;

	}

	.s11num{
		width:20px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; text-align: center;
		}
		.s11name{
		width:275px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px; margin-left: 25px;
		}

		.s11stat{
		width:145px; height:22px; position:absolute; color: #039;
		font-family:din_bold; font-size:20px;margin-left:308px;
		}



/*-------------- listquef section -----------------*/

.listque1{
	  width: 347px;
    height: 340px;
    position: absolute;
    margin-top: 718px;
    margin-left: 19px;

}
.listquef2{
	  width: 347px;
    height: 340px;
    position: absolute;
    margin-top: 718px;
    margin-left: 379px;
   /* background-color: yellow;*/
}
.listquef3{
	  width: 347px;
    height: 340px;
    position: absolute;
    margin-top: 718px;
    margin-left: 1100px;
}
.listquef4{
	  width: 347px;
    height: 340px;
    position: absolute;
    margin-top: 718px;
    margin-left: 739px;
}

.bannersf{
  width: 1427px;
    height: 323px;
    position: absolute;
    border-radius: 50px 50px 50px 50px;
    background-image: url(../images/sysimg/quetv/colorbg/blue1.png);
    margin-top: 203px;
    /* background-image: url(../images/sysimg/quetv/colorbg/graybanner.png); */
    box-shadow: 5px 5px 25px #888;
    margin-left: -127px;
    /*box-shadow: inset 0px 11px 8px -10px #fff, 
    			inset 0px -11px 8px -10px #fff; */
	}

.bannername{
	    padding-top: 35px;
  height: 307px;
      width: 766px;
      position: absolute;
      color: #FFF;
      text-align: center;
      font-family: din_bold;
      text-style: capitalize;
      margin-left: 17px;
      margin-top: 4px;
      border-radius: 40px;
      /* background-image: url(../images/sysimg/quetv/colorbg/blue1.png); */
      /* box-shadow: 5px 5px 5px #002; */
  	}


/*-------------- COUNTERS 1-11-------*/
.counter-banner-num{
    padding-top: 0px;
    width: 184px;
    height: 229px;
    margin-top: -230px;
    margin-left: 1191px;
    font-size: 194px;
    color: black;
    background-color: #fff;
    border-radius: 26px;
    text-align: center;
}
.border-right-counter{
  border-left-style: double;
    border-left-width: 7px;
    height: 227px;
    margin-left: 796px;
    margin-top: 55px;
    color: white;
}
#counter1{
  width: 332px;
    height: 88px;
    margin-top: -184px;
    margin-left: 835px;
    position: absolute;
    /* background-image: url(../images/sysimg/quetv/colorbg/graylight.png); */
    font-family: din_bold;
    font-size: 41px;
    text-align: left;
    color: #FFF;
    /* border-radius: 80px 0px 80px 80px; */
    /* background-image: url(../images/sysimg/quetv/counternumber/c1copy.png); */

	}

#counter2{
  width: 332px;
    height: 88px;
    margin-top: -184px;
    margin-left: 835px;
    position: absolute;
    /* background-image: url(../images/sysimg/quetv/colorbg/graylight.png); */
    font-family: din_bold;
    font-size: 41px;
    text-align: left;
    color: #FFF;
    /* border-radius: 80px 0px 80px 80px; */
    /* background-image: url(../images/sysimg/quetv/counternumber/c1copy.png); */
  }

#counter3{
  width: 332px;
    height: 88px;
    margin-top: -184px;
    margin-left: 835px;
    position: absolute;
    /* background-image: url(../images/sysimg/quetv/colorbg/graylight.png); */
    font-family: din_bold;
    font-size: 41px;
    text-align: left;
    color: #FFF;
    /* border-radius: 80px 0px 80px 80px; */
    /* background-image: url(../images/sysimg/quetv/counternumber/c1copy.png); */
	}

#counter4{
  width: 332px;
    height: 88px;
    margin-top: -184px;
    margin-left: 835px;
    position: absolute;
    /* background-image: url(../images/sysimg/quetv/colorbg/graylight.png); */
    font-family: din_bold;
    font-size: 41px;
    text-align: left;
    color: #FFF;
    /* border-radius: 80px 0px 80px 80px; */
    /* background-image: url(../images/sysimg/quetv/counternumber/c1copy.png); */
	}


#counter5{
  width: 332px;
    height: 88px;
    margin-top: -184px;
    margin-left: 835px;
    position: absolute;
    /* background-image: url(../images/sysimg/quetv/colorbg/graylight.png); */
    font-family: din_bold;
    font-size: 41px;
    text-align: left;
    color: #FFF;
    /* border-radius: 80px 0px 80px 80px; */
    /* background-image: url(../images/sysimg/quetv/counternumber/c1copy.png); */
	}



/*
#counter11{
	width:801px; height:178px; position:absolute;
	background-image: url(../images/sysimg/quetv/counternumber/c11.png);
	margin-left: 302px; margin-top:215px;
	}*/




/*-------------------- listss section -------*/

.lists{
	   width: 347px;
    height: 339px;
	}

.row-containers{
  	width: 345px;
    height: 339px;
	}

.rows{
  	height: 339px;
    width: 345px;
    margin-left: -49px;
    margin-top: 0px;
	}



	.numbr{
        width: 85px;
		margin-top: 30px;
		margin-left: 75px;
		float: left;
		text-align: center;
		font-family: din_bold;
		font-size: 20px;
		color: #0062a2;
		border-radius: 5px;
		transform: scale(2.5,2.5);
		}

	#numbr2{
		width:62px; height:49px; position:absolute; border-radius: 10px; margin-top:7px;
		background-color: #06C; font-family:din_bold; font-size: 35px; text-align:center; color:#FFF;

		}

	 #numbr3{
		width:62px; height:49px; position:absolute; border-radius: 10px; margin-top: 7px;
		background-color: #06C; font-family:din_bold; font-size: 35px; text-align:center; color:#FFF;
		}

		#numbr4{
		width:62px; height:49px; position:absolute; border-radius: 10px; 	margin-top: 7px;
		background-color: #06C; font-family:din_bold; font-size: 35px; text-align:center; color:#FFF;

		}

		#numbr5{
		width:62px; height:49px; position:absolute; border-radius: 10px; margin-top: 7px;
		background-color: #06C; font-family:din_bold; font-size: 35px; text-align:center; color:#FFF;
		}


	#namenum1{
		  width: 1000px;
		  float: left;
		  margin-left:50px;
		  font-size: 50px;
		  /* background-color: #CF3; */
		  color: #039;
		  font-family: din_bold;
		 /*  background-color: #90F; */
		}

	.rowrow{
		    width: 345px;
		    float: left;
			}
	.position_flip{
		margin-left:10px;
		}
	/*	#namenum2{
		width: 550px;height:49px; position:absolute;
		 font-family:din_bold;font-size:37px; background-color: #CF3;
		margin-top:7px; margin-left:75px;color:#039;
				}

			#namenum3{
		width: 550px;height:49px; position:absolute;
		 font-family:din_bold; font-size:37px; background-color: #CF3;
		margin-top:7px; margin-left:75px; color:#039;
		}

	 		#namenum4{
		width: 550px;height:49px; position:absolute;
	 font-family:din_bold; font-size:37px; background-color: #CF3;
	margin-top:7px; margin-left:75px;color:#039;
		}

				#namenum5{
		width: 550px;height:49px; position:absolute;
		font-family:din_bold;font-size:37px; background-color: #CF3;
		margin-top:7px; margin-left:75px;color:#039;
		}
		*/
			.seps{
				  width: 5px;
				  height: 300px;
				  position: absolute;
				  margin-left: 722px;
				  margin-top: 20px;
				  background-color: #CCC;
				}

				.namenumstats{
          width: 65px;
          margin-left: 20px;
          margin-top: 19px;
          font-size: 38px;
          float: left;
          color: #FFF;
          text-align: center;
          border-radius: 5px;
          font-family: din_bold;
          background-image: url(../images/sysimg/quetv/colorbg/blue1.png);
				}


				/*	#namenumstats2{
		width: 600px;height:35px; position:absolute;
		 font-family:din_bold; font-size:40px;
		margin-top:7px;margin-left:800px;color:#039;
		}

						#namenumstats3{
		width: 600px;height:35px; position:absolute;
	 font-family:din_bold; font-size:40px;
		margin-top:7px; margin-left:800px;color:#039;
		}

							#namenumstats4{
		width: 600px;height:35px; position:absolute;
	 font-family:din_bold; font-size:40px;
		margin-top:7px;margin-left:800px;color:#039;
		}

							#namenumstats5{
		width: 600px;height:35px; position:absolute;
	font-family:din_bold; font-size:40px;
		margin-top:7px;margin-left:800px;color:#039;
		}*/


			 /*------ row div ---- */

								#row1{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; color:#222;
				 margin-top:4px;
				 				 }

 								#row2{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				 margin-top:35px;color:#222;
				 				 }

								 #row3{
				width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				 margin-top:68px; color:#222;
				 				 }

								  #row4{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				 margin-top:100px; color:#222;
				 				 }

								  #row5{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				  margin-top:132px; color:#222;
				 				 }

								  #row6{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				  margin-top:164px; color:#222;
				 				 }

								  #row7{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				  margin-top:196px; color:#222;
				 				 }

								  #row8{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				  margin-top:228px; color:#222;
				 				 }

								 #row9{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				  margin-top:260px;
				 				 }

								 #row10{
				 width:680px; height:28px; position:absolute; margin-left:5px;
				 font-family:din_bold; font-size:26px; /*background-color:#BBB;*/
				  margin-top:292px; color:#222;
				 				 }



	/*------------------- for MAIN MENU CSS --------*/

	.yas{
width: 600px; height:700px; background-color:#666;
		}


		.worksed{
	width: 750px; height:600px; margin:auto; /*background-color:#CCC;*/
	background-image:url(../images/sysimg/mainmenu/workbg.PNG);

	}


	.buttonsfmenu{
		width:700px; height: 230px; position:absolute;
		margin-top: 150px; margin-left:20px; /*background-color:#999;*/
		}


/*--------------------------------------------------------*/
.b1que{
	width: 300px; height:100px; float:left;
	}

	.buttons1{
	width: 300px; height:100px; position:absolute; content:""; border:none; background-color:transparent;
	background-image: url(../images/sysimg/mainmenu/quefront.png);

	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
	}

	.buttons1:hover{
		position:absolute;
		opacity:0; cursor:pointer;
		}

	.buttons1a{
	width: 300px; height:100px; content:""; border:none; background-color:transparent;
	/*margin-left:20px;*/ background-image: url(../images/sysimg/mainmenu/quefront2.png);
	}

	/*--------------------------------------------------------*/

	.b2que{
		width:300px; height:100px; float:left;
		margin-left:80px;
		}

	.buttons2{
	width: 300px; height:100px; position:absolute;   content:""; border:none; background-color:transparent;
	 background-image:url(../images/sysimg/mainmenu/BACKROOM.PNG);

	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
	}

	.buttons2:hover{
		position:absolute;
		opacity:0;  cursor:pointer;
	}

	.buttons2_1{
	width: 300px; height:100px; content:""; border:none; background-color:transparent;
	/*margin-left:380px;*/ background-image:url(../images/sysimg/mainmenu/BACKROOM2.PNG);
	}
	/*--------------------------------------------------------*/

	.b3que{
		width:300px; height:100px; float:left;
		margin-top:30px;
		}

	.buttons3{
	width: 300px; height:100px; position:absolute;  content:""; border:none; background-color:transparent;
	 background-image: url(../images/sysimg/mainmenu/ADDUSER.PNG);

	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
	}

	.buttons3:hover{
	position:absolute;
	opacity:0;  cursor:pointer;
	}

	.buttons31a{
	width: 300px; height:100px; content:""; border:none; background-color:transparent;
	/*margin-left:380px;*/ background-image: url(../images/sysimg/mainmenu/ADDUSER2.PNG);
	}



	.b4que{
		width:300px; height:100px; float:left;
		margin-left:80px;margin-top:30px;
		}
	.buttons4{
	width: 300px; height:100px; position:absolute;  content:""; border:none; background-color:transparent;
	;background-image:url(../images/sysimg/mainmenu/REPORT.PNG);
	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
	}

	.buttons4:hover{
	position:absolute;
	opacity:0;  cursor:pointer;
	}
	.buttons4a{
	width: 300px; height:100px; content:""; border:none; background-color:transparent;
	/*margin-left:380px;*/ background-image: url(../images/sysimg/mainmenu/report2a.PNG);
	}


	.bodymenu{
		background-image:url(../images/sysimg/mainmenu/colores.png);
		}

			/*------------------- for MAIN MENU CSS2 --------*/

	.b_1que{
		width: 300px; height:100px; float:left;
        margin-top: 60px;
		}
	.buttons1s{
	width: 300px; height:100px; position:absolute;  content:""; border:none; background-color:transparent;
	background-image: url(../images/sysimg/mainmenu/quefront.png);

	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
	}

	.buttons1s:hover{
	position:absolute;
	opacity:0; cursor:pointer;
	}

	.buttons_1s{
	width: 300px; height:100px; content:""; border:none; background-color:transparent;
	/*margin-left:20px;*/ background-image: url(../images/sysimg/mainmenu/quefront2.png);
	}


	/*-------------------------------------*/

	.b_2que{
		width: 300px; height:100px; float:left;
		margin-left:80px; margin-top: 60px;
		}
	.buttons2s{
	 width: 300px; height:100px; position:absolute;   content:""; border:none; background-color:transparent;
	 background-image:url(../images/sysimg/mainmenu/BACKROOM.PNG);

	 -webkit-transition: opacity 0.4s ease;
	 transition: opacity 0.4s ease;
	}


	.buttons2s:hover{
	position:absolute;
	opacity:0; cursor:pointer;
	}

	.buttons_2s{
	width: 300px; height:100px; content:""; border:none; background-color:transparent;
	/*margin-left:20px;*/ background-image: url(../images/sysimg/mainmenu/BACKROOM2.png);
	}


.banner-right{
    width: 452px;
    height: 605px;
    margin-top: 115px;
    position: absolute;
    margin-left: 1468px;
    background-image: url(../images/sysimg/quetv/advisory.png);
}
/*.banner-right-bottom{
	width:452px; height:356px;
	background-image: url(../images/sysimg/quetv/megamall-asp-logo.png); position:absolute;
	margin-left:1468px; margin-top:722px; background-color:#69C;
	}*/

/*---------jquery slideshow----*/
/*#slideshow {
	width:400px; height:720px; position:absolute;
	margin-left:1468px; color:#000;
	}

#slideshow > div {
    position: absolute;
}
*/

.message{
	height:305px; position:absolute; margin-top:250px; margin-left:50px; width:1250px;
	text-align:center; font-family:din_bold; font-size:50px; font-weight:bolder;
	z-index:1; box-shadow: 0px 0px 20px 0px rgba(168,168,168,0.87); padding-top:50px;
	background-image: url(../images/sysimg/quetv/transparent_bg.png); border-radius:10px;
	border-color:#EEE; border-width:thick; border-style:ridge;
	}

/*-----------*/

.nosit1-cont{
	width: 175px;
    height: 127px;
    background: linear-gradient(#005288, #06c);
    float: left;
    margin-left: 52px;
    margin-top: -59px;
    border-radius: 10px;
	}

	#nosit1{
		display: block;
		text-align: center;
		font-size:109px;
		font-family:din_bold;
		margin-top:-10px;
		color:#FFF;
		}


.nosit2-cont{
	width: 175px;
    height: 127px;
    background: linear-gradient(#005288, #06c);
    float: left;
    margin-left: 125px;
    margin-top: -59px;
    border-radius: 10px;
	}

	#nosit2{
		display: block;
		text-align: center;
		font-size:109px;
		font-family:din_bold;
		margin-top:-10px;
		color:#FFF;
		}

.nosit3-cont{
	width: 175px;
    height: 127px;
    background: linear-gradient(#005288, #06c);
    float: left;
    margin-left: 115px	;
    margin-top: -59px;
    border-radius: 10px;
	}

	#nosit3{
		display: block;
		text-align: center;
		font-size:109px;
		font-family:din_bold;
		margin-top:-10px;
		color:#FFF;
		}


.nosit4-cont{
	width: 175px;
    height: 127px;
    background: linear-gradient(#005288, #06c);
    float: left;
    margin-left: 111px;
    margin-top: -59px;
    border-radius: 10px;
	}

	#nosit4{
		display: block;
		text-align: center;
		font-size:109px;
		font-family:din_bold;
		margin-top:-10px;
		color:#FFF;
		}

.nosit5-cont{
    width: 175px;
    height: 127px;
    background: linear-gradient(#005288, #06c);
    float: left;
    margin-left: 85px;
    margin-top: -59px;
    border-radius: 10px;
	}

	#nosit5{
		display: block;
		text-align: center;
		font-size:109px;
		font-family:din_bold;
		margin-top:-10px;
		color:#FFF;
		}

  .pending-main-div{
    width: 800px;
    height: 400px;
    float: left;
    background-color: blue;
    margin-top: 50px;
  }
