<ul class="breadcrumbs">
    <li><a ><i class="iconfa-home"></i></a> <span class="separator"></span></li>
    <li></li>
</ul>
<div ng-init = 'initback();'>
<input saythis ng-repeat = "item in artocall" type="hidden" value="{{ item.ar }}" id="say" />
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="margin: 0px !important;border-bottom: 0px !important;"></h1>
        </div>
    </div>
	<div class="row">
        <div class="col-lg-6 ">
	        <div class="panel panel-primary">
			<div class="panel-heading">
			    <h3 class="panel-title"><i class="fa fa-list-alt"></i>  REALISING</h3>
			</div>
			<div class="panel-body">
					<div class="list-group">
			       		<a href="#" class="list-group-item" ng-repeat = "item in unprepared">

			                <div>
				                <span class="badge">{{item.TIMEONLY}}</span>
			                	<h1><span class="numberque">{{ item.numberque }}</span> <span class="client">{{item.firstname}} {{item.lastname}}</span></h1>
			                	{{ item.ar }}
			                	<button ng-if="PREPARE_AR" style='cursor:pointer !important;' class='prepared' ng-click = 'prepare(item.id, item.parent_table);'>PREPARE</button>
			           		</div>
			            </a>
			    	</div>
				</div>
			</div>
        </div>



       <div class="col-lg-6 ">
       		<div class="panel panel-primary">
			<div class="panel-heading">
			    <h3 class="panel-title"><i class="fa fa-list-alt"></i>  PREPARED</h3>
			</div>
			<div class="panel-body">
					<div class="list-group">
			       		<a href="#" class="list-group-item" ng-repeat = "item in prepared">


			                <span class="badge">{{item.TIMEONLY}}</span>
			                <h1><span class="numberque">{{ item.numberque }}</span> <span class="client">{{item.firstname}} {{item.lastname}}</span></h1>
			                {{ item.ar }}

			            </a>
			    	</div>
				</div>
			</div>

       </div>
    </div>
    <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-send"></i> RELEASED TODAY </h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                      <a href="#" class = 'list-group-item' class="list-group-item" ng-repeat = "item in released">
                            <span class="badge" style="color:white !important;">TIME RELEASED TO CLIENT : {{item.TIMEONLY}}</span>
                            <h1><span class="numberque">[ {{item.numberque}} ]</span> <span class="client">{{item.salutation}}. {{item.firstname}} {{item.lastname}}</span></h1>
                            <div class="serveby" >AR NUMBER : {{ item.ar }}</div>
                          </br>FRONTLINE AGENT : {{item.agent}}
                        </a>
                  </div>
              </div>
            </div>
          </div>
      </div>
</div>
<script>
