<style>
	.alias{
		border: 2px solid black !important;
		padding: 5px !important;
		text-align: center;
		font-size: 42px;
		width: 100% !important;
		text-transform: uppercase;
	}
	.quecard-cont{
		width: 451px;
		height: 100px;
		float: left;
		margin-bottom: 45px;
		margin-left: 30px;
		margin-top: 21px;
		font-size: 100px;
		text-align: center;
	}
	.btn-block-width {
		width: 239px;
		display: initial;
	}
	.modal-body-quecard-cont{
		padding: 0px;
	}
</style>
<div class="modal-hide-cont">
	
		<div class="modal-header">
		    <center><h3 class="modal-title">YOUR QUEUE CARD NUMBER IS</h3></center>
		</div>

		<div class="modal-body modal-body-quecard-cont" style = "background-color: #EEEEEE;">
			<div class="quecard-cont" value="{{quecard}}" ng-model='quecard'>{{quecard}}</div>
		</div>

		<div class="modal-footer">
		    <button class="btn btn-primary btn-lg btn-block btn-block-width" type="button" ng-click="inputque();">YES</button>
		    <button class="btn btn-default btn-lg btn-block btn-block-width" type="button" ng-click="cancel();">NO</button>
		</div>

</div>
	<!-- hidden container 2/13/18

	<!-- <div class="modal-header">
	    <h3 class="modal-title">PLEASE CHOOSE WHAT YOU WANT TO SHOW ON THE SCREEN</h3>
	</div>
	<div class="modal-body" style = "background-color: #EEEEEE;">
		<div class="form-group">
		    <div class="radio">
		        <label class = "btn btn-default btn-lg btn-block">
		            <input type="radio" name="optionsAlias" id="optionsRadios3" value="{{alias3}}" ng-model='alias'>FULL NAME
		        </label>
		    </div>
		    <div class="radio">
		        <label class = "btn btn-default btn-lg btn-block">
		            <input type="radio" name="optionsAlias" id="optionsRadios1" value="{{alias1}}" ng-model='alias'>{{ alias1 }}
		        </label>
		    </div>
		    <div class="radio">
		        <label class = "btn btn-default btn-lg btn-block">
		            <input type="radio" name="optionsAlias" id="optionsRadios2" value="{{alias2}}" ng-model='alias'>{{ alias2 }}
		        </label>
		    </div>
		    <center><label>OR YOU CAN TYPE AN ALIAS BELOW : </label></center>
		    <input alias name="arf" type="text" class="alias" ng-model='alias' ng-pattern="/^[^\s]+[a-zA-Z ]*[^\s]+$/" ng-trim = "true">
		</div>
	</div> -->
