<style>
	.alias{
		border: 1px solid black !important;
		padding: 5px !important;
		text-align: left;
		font-size: 12px;
		width: 100% !important;
	}
	.quecard-cont{
		width: 451px;
		height: 100px;
		float: left;
		margin-bottom: 45px;
		margin-left: 30px;
		margin-top: 21px;
		font-size: 100px;
		text-align: center;
	}
	.btn-block-width {
		width: 239px;
		display: initial;
	}
	.modal-body-quecard-cont{
		
	}
    .modal-footer-remarks {
        text-align: center !important;
    }
</style>
<div class="modal-hide-cont" ng-controller="FrontlineController">
	
		<div class="modal-header">
		    <center><h3 class="modal-title">Please input remarks if needed</h3></center>
		</div>
      
		<div class="modal-body modal-body-quecard-cont">
            <input ng-model="alias" name="alias" type="text" class="alias" id="alias" placeholder="N/A">
		</div>

		<div class="modal-footer modal-footer-remarks">
		    <button class="btn btn-primary btn-lg btn-block btn-block-width" type="button" ng-click="serve_client(jumpnumber);">SAVE</button>
		    <!-- <button class="btn btn-default btn-lg btn-block btn-block-width" type="button" ng-click="cancel();">CANCEL</button> -->
		</div>

</div>
